.Track {
  display: flex;
  cursor: default;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  transition: 0.9s;
}

.Track:hover {
  
  background-color: rgba(255, 255, 255, 0.2);
}
.coverImg {
 position: relative;
 
 border: 1px solid black;
 opacity: 1;
 transition: opacity 0.3s ease-out;
 
}
.playImg {
  position: absolute;
  opacity: 0.0;
  transition: 0.5s;
}
.playImg:hover {
  cursor: pointer;
  opacity: 0.5;
}

.coverImg:hover {
  
  opacity: 0.8;
}
.Track-Action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-Action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 15px 5px;
}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

.preview {
  margin-top: 10px;
  color:plum;
  transition: color 0.5s;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  text-align: left;
  
}
.preview:hover {
  color: purple;
}
@media only screen and (max-width: 1020px) {
  .Track img {
    
  }
}